html,
body {
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
}

.item {
  width: 10rem;
  height: 10rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid;
}

.item:nth-child(1) {
  background-color: green;
}

.item:nth-child(2) {
  background-color: blue;
}

.item:nth-child(3) {
  background-color: orange;
}

.item:nth-child(4) {
  background-color: yellow;
}

.item:nth-child(5) {
  background-color: pink;
}
